.container {
  position: absolute;
  margin: 20px;
  width: auto;
  height: 50%;
}

.topnav {
  overflow: hidden;
  padding: 20px 10px;
  font-family: Verdana, sans-serif; 
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.topnav a:hover {
  color: gray;
}
.topnav a.logo {
  font-family: 'built_titling', Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
