.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  padding: 20px 10px;
  font-family: Verdana, sans-serif; 
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.topnav a:hover {
  color: gray;
}
.topnav a.logo {
  font-family: 'built_titling', Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
}

